app = "fusion-mlops-fastapi"
primary_region = "iad"

[build]
  image = "ghcr.io/seifboukerdenna/fusion-mlops-demo-fastapi:latest"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"