app = "fusion-mlops-ui"
primary_region = "iad"

[build]
  image = "ghcr.io/seifboukerdenna/fusion-mlops-demo-frontend:latest"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256