apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-defect-classifier
  labels:
    app: fastapi-defect-classifier
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi-defect-classifier
  template:
    metadata:
      labels:
        app: fastapi-defect-classifier
    spec:
      containers:
      - name: fastapi
        image: fusion-mlops-demo-fastapi:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 5