apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: LoadBalancer
  selector:
    app: frontend-defect-classifier
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
    nodePort: 30300