apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-defect-classifier
  labels:
    app: frontend-defect-classifier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-defect-classifier
  template:
    metadata:
      labels:
        app: frontend-defect-classifier
    spec:
      containers:
      - name: frontend
        image: fusion-mlops-demo-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"