apiVersion: v1
kind: Service
metadata:
  name: torchserve-service
spec:
  type: LoadBalancer
  selector:
    app: torchserve-defect-classifier
  ports:
  - name: inference
    protocol: TCP
    port: 8080
    targetPort: 8080
    nodePort: 30080
  - name: management
    protocol: TCP
    port: 8081
    targetPort: 8081
    nodePort: 30081
  - name: metrics
    protocol: TCP
    port: 8082
    targetPort: 8082
    nodePort: 30082